.appear-0\.25 {
    animation: appear 0.25s
}

.appear-0\.1 {
    animation: appear 0.1s
}

.appear-after-1s {
    opacity: 0;
    animation: appear 0.5s 1s forwards;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
